.root {
  flexgrow: 1px;
}

.paper {
  padding: 2px;
  margin: auto;
  max-width: 500px;
}
.image {
  width: 128px;
  height: 128px;
}

.img {
  margin: auto;
  display: block;
  maxwidth: 100%;
  maxheight: 100%;
}
